@import '../index.scss';

.container {
    background: linear-gradient(145deg, $primary-color, $background-color);
    min-height: 90vh;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
}

.aboutCard {
    margin: 7rem 0 0 0;
    box-shadow: 0 5px 15px rgba($primary-color, 0.5);
    width: 80%;
    padding: 0 25px;
    border-radius: 25px 25px 0 0;
    background-color: $background-color;


}