@import '../index.scss';

.comment-form {
    background-color: $background-color;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba($primary-color, 0.5);


    h2 {
        text-align: center;
        color: $primary-color;
        margin-bottom: 1.5rem;
    }

    .form-group {
        margin-bottom: 1rem;

        label {
            display: block;
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            color: $primary-color;
        }

        input,
        textarea {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid $primary-color;
            border-radius: 5px;
            font-size: 1rem;
            color: $primary-color;
            background-color: $text-color;

            &:focus {
                outline: none;
                border-color: $secondary-color;
                box-shadow: 0 0 5px rgba($secondary-color, 0.5);
            }
        }

        textarea {
            resize: vertical;
            min-height: 100px;
        }
    }

    button {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 1.2rem;
        color: $text-color;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $secondary-color;
        }
    }
}