@import '../index.scss';

.footer {
    background-color: $primary-color;
    height: 6.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-family: $main-font;
    color: $text-color;

    .footer__content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .footer__language-selector {
            display: flex;
            align-items: center;
            width: 200px; // Dil değiştirme menüsünün genişliğini ayarlayın
        }

        p {
            margin: 0;
            text-align: center;
            flex-grow: 1;
        }

        .footer__links {
            display: flex;
            margin-bottom: 0;
            align-items: center;

            a {
                color: $text-color;
                margin: 0 1rem;
                text-decoration: none;
                transition: color 0.3s ease, border-bottom 0.3s ease;
                border-bottom: 2px solid transparent;

                &:hover {
                    color: $link-hover-color;
                    border-bottom: 2px solid $link-hover-color;
                }
            }
        }
    }
}