$main-font: 'Montserrat', sans-serif;


$primary-color: #091545;
$secondary-color: #ff6347;
$text-color: #ffffff;
$link-hover-color: #bb47ff;
$link-underline-color: #969696;



body {
    margin: 0 0 0 0;
    width: 100%;
    font-family: $main-font;
}