$main-font: 'Montserrat', sans-serif;


$primary-color: #1C1F26; // Muted Dark Gray
$secondary-color: #FF4500; // Orange Red
$text-color: #fafafa;
$link-hover-color: #8A2BE2; // Blue Violet
$background-color: #D3D3D3; // Light Gray

p,
pre {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0 0 0 0;
    font-family: $main-font;
    background: linear-gradient(145deg, $primary-color, $background-color);
    transition: background 0.5s ease;
    /* Smooth gradient transition */
}



.button {
    margin-top: 2rem;

    a {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.1rem;
        font-weight: bold;
        text-decoration: none;
        color: $text-color;
        background-color: $secondary-color;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        transition: color 0.3s ease;

        &:hover {
            background-color: $link-hover-color;
            color: $primary-color;
        }
    }
}

.home-background {
    background: linear-gradient(145deg, $primary-color, $secondary-color);
    /* Background for Home */
}

.about-background {
    @keyframes gradient-animation {
        0% {
            background: linear-gradient(145deg, $primary-color, $background-color);
        }

        10% {
            background: linear-gradient(145deg,
                    mix($primary-color, $link-hover-color, 90%),
                    mix($background-color, $secondary-color, 90%));
        }

        20% {
            background: linear-gradient(145deg,
                    mix($primary-color, $link-hover-color, 80%),
                    mix($background-color, $secondary-color, 80%));
        }

        30% {
            background: linear-gradient(145deg,
                    mix($primary-color, $link-hover-color, 70%),
                    mix($background-color, $secondary-color, 70%));
        }

        40% {
            background: linear-gradient(145deg,
                    mix($primary-color, $link-hover-color, 60%),
                    mix($background-color, $secondary-color, 60%));
        }

        50% {
            background: linear-gradient(145deg,
                    mix($primary-color, $link-hover-color, 50%),
                    mix($background-color, $secondary-color, 50%));
        }

        60% {
            background: linear-gradient(145deg,
                    mix($primary-color, $link-hover-color, 40%),
                    mix($background-color, $secondary-color, 40%));
        }

        70% {
            background: linear-gradient(145deg,
                    mix($primary-color, $link-hover-color, 30%),
                    mix($background-color, $secondary-color, 30%));
        }

        80% {
            background: linear-gradient(145deg,
                    mix($primary-color, $link-hover-color, 20%),
                    mix($background-color, $secondary-color, 20%));
        }

        90% {
            background: linear-gradient(145deg,
                    mix($primary-color, $link-hover-color, 10%),
                    mix($background-color, $secondary-color, 10%));
        }

        100% {

            background: linear-gradient(145deg, $link-hover-color, $secondary-color);
        }
    }

    background: linear-gradient(145deg, $link-hover-color, $secondary-color);

    animation: gradient-animation 0.3s ease forwards;
}